---
import Layout from '@/layouts/Layout.astro';
import { Spotlight } from '@/components/ui/spotlight-new';
import { GlowingEffect } from '@/components/ui/glowing-effect';
import GlassCard from '@/components/GlassCard.astro';
---

<Layout>
    <section
        class="flex h-screen flex-col items-center justify-center bg-black/98"
    >
        <Spotlight client:load />
        <GlowingEffect
            client:load
            spread={40}
            glow={true}
            disabled={false}
            proximity={64}
            inactiveZone={0.01}
        />
        <GlassCard>
            <h1 class="text-center text-6xl font-bold text-white">
                Cast <mark class="magical-text">spells</mark>
                <br />
                on your desktop.
            </h1>
        </GlassCard>
    </section>

    <section>
        <h2 class="text-4xl">hiii hello</h2>
    </section>
</Layout>

<style>
    .magical-text {
        background: linear-gradient(
            to right,
            #6366f1,
            #a855f7,
            #ec4899,
            #eab308,
            #22c55e,
            #3b82f6,
            #6366f1
        );
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        animation: shine 8s linear infinite;
        background-color: transparent;
    }

    @keyframes shine {
        to {
            background-position: 200% center;
        }
    }
</style>
