---
const { class: className, ...rest } = Astro.props;
---

<div class:list={['m-5 rounded-2xl p-5 backdrop-blur', className]} {...rest}>
    <slot />
</div>

<style>
    div {
        background-color: rgba(200, 200, 200, 0.1);
        box-shadow: -2px -2px 10px inset rgba(255, 255, 255, 0.1);
    }
</style>
