---
import '../styles/global.css';
import '@fontsource-variable/geist';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Hexecute 🪄</title>
    </head>
    <body>
        <slot />
    </body>
</html>
