---
import '../styles/global.css';
import '@fontsource-variable/geist';
import { site } from 'astro:config/client';

const title = 'Hexecute 🪄';
const description = 'Cast spells on your desktop.';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>

        <!-- Open Graph tags -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title} />
        <meta property="og:url" content={site} />
        <meta property="og:image" content="/demo.gif" />
        <meta property="og:description" content={description} />

        <!-- Favicon links -->
        <link
            rel="icon"
            type="image/png"
            href="/favicon-96x96.png"
            sizes="96x96"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <meta name="apple-mobile-web-app-title" content="Hexecute" />
    </head>
    <body>
        <slot />

        <!-- 100% privacy-first analytics -->
        <script
            is:inline
            data-collect-dnt="true"
            async
            src="https://scripts.simpleanalyticscdn.com/latest.js"
        ></script>
    </body>
</html>
